.navbar {
  margin-bottom: 15px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-right: 10px;
}

.title {
  font-weight: 600;
  padding: 0 30px;
  text-decoration: none;
  color: #111;
  border-right: 1px solid #c9c9c9;
}

.title:hover {
  color: #333;
}

.link {
  line-height: 40px;
  color: #353535;
  text-decoration: none;
}

.link:focus {
  color: #000000;
}

.link:hover {
  color: #666666;
  border-bottom: 2px #1567ff solid;
}

.logged {
  line-height: 40px;
  margin-left: 20px;
  padding: 10;
  text-decoration: none;
  color: #1567ff;
}

.btn {
  margin-left: 10px;
}