body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    color: rgb(0, 0, 0);
    margin-block-start: 0em;
    margin-block-end: 0.5em;
  }

h2 {
    color: rgb(0, 0, 0);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

button {
    cursor: pointer;
    padding: 3px 8px;
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(226, 226, 226);
}

.card {
    width: 350px;
    margin: auto;
    margin-top: 150px;
    background-color:rgb(255, 255, 255);
    padding: 25px;
    border-radius: 12px;
    border: 1px black solid
}

.inputs {
    padding-bottom: 5px;
}

.inputs input {
    width: 100%;
    margin-top: 3px;
    background-color: rgb(238, 238, 238);

}

input {
    border: none;
    padding: 3px 8px;
    border-radius: 5px;
}

.person {
    list-style-type:none;
    padding-top: 3px;
    font-size: 16px;
}

.error {
    width: 100%;
    color: rgb(214, 129, 18);
    background-color: rgb(231, 223, 212);
    font-size: 20px;
    border: 1px rgb(214, 129, 18) solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }